body{
    background-color:antiquewhite;
}
body{
    /* max-width: 900px; */
    margin: auto;
}
.forms{
    width: 50%;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn{
    margin-top: 10px;
}
.web-title{
    
    font-style: italic;
    font-family:cursive;
}
.subtitle{
    font-size: 20px;
    font-family:cursive;
}
.form-p{
    text-align: center;
    margin-top: 2%;
    font-size: large;
}
.messages{
    margin-left: 20%;
}